[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Weelink everywhere everytime
[access "refs/*"]
	owner = group user/robot (lianzhulin)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/robot (lianzhulin)
	label-Verified = -1..+1 group user/robot (lianzhulin)
	push = group user/robot (lianzhulin)
	read = group user/robot (lianzhulin)
	rebase = group user/robot (lianzhulin)
	removeReviewer = group user/robot (lianzhulin)
	submit = group user/robot (lianzhulin)
[access "refs/heads/*"]
	create = group user/robot (lianzhulin)
	push = +force group user/robot (lianzhulin)
	pushMerge = group user/robot (lianzhulin)
	read = group user/robot (lianzhulin)
[access "refs/tags/*"]
	push = group user/robot (lianzhulin)
	push = +force group user/robot (lianzhulin)
